aiohappyeyeballs
aiohttp
aiosignal
asyncio
attrs
confluent-kafka
dnspython
frozenlist
idna
multidict
propcache
psycopg2-binary
py4j
pymongo
pyspark
spark
typing
yarl
argparse
apache-airflow
apache-airflow-providers-apache-spark
apache-airflow-providers-postgres